:root {
  --header-height: 60px;
  --header-section-width: 100px;
  --header-section-padding: 0.5em;
}

header {
  height: var(--header-height);
}

.header-left {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  float: left;
}

.header-right {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  float: right;
}

.header-section {
  width: var(--header-section-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  padding-left: var(--header-section-padding);
  padding-right: var(--header-section-padding);
}