:root {
  --user-input-container-width: 280px; /* constant width for every data input */
  --login-button-width: 120px;

  --user-input-margin: 1em; /* margin between user inputs */
  --user-input-title-margin: 0.3em; /* margin between title and actual input */
}

/* Contains data inputs and login button */
.login-form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* Data inputs -------------------------------- */

/* Contains all user inputs */
.user-input-container {
  width: var(--user-input-container-width);
  margin-left: auto;
  margin-right: auto;
}

/* Used for any type of user input */
.user-input {
  display: flex;
  flex-direction: column;
  margin-top: var(--user-input-margin);
  margin-bottom: var(--user-input-margin);
}

/* Input title */
.user-input p {
  text-align: left;
  margin-bottom: var(--user-input-title-margin);
}

/* Input element */
.user-input input {
  line-height: 1.5em;
  border: 2px solid #8e8e8e;
  border-radius: 0;
}

/* Login button ------------------------------- */

.login-button {
  width: var(--login-button-width);
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  font-size: medium;
}