:root {
  --siw-head-height: 1.5rem;
  --siw-content-padding: 0.5em;
  --siw-list-ul-padding: 1.5em;
  --siw-list-li-padding: 0.5em;
  --siw-atf-btn-plus-icon-padding: 0.5em;
  --siw-add-to-favorites-button-padding: 0.5em;

  --siw-country-name-opacity: 0.5;
  --siw-list-li-header-opacity: 0.6;
}

.spot-info-window {
  box-shadow: 0px 3px 10px 1px grey;
}

.siw-head, .siw-body {
  padding-left: var(--siw-content-padding);
  padding-right: var(--siw-content-padding);
}

/* Head styling ------------------------------- */

.spot-info-window .siw-head {
  display: flex;
  flex-direction: row;
  height: var(--siw-head-height);
}

/* Class for moving elements to the left of the header */
.siw-head .siw-head-left {
  display: flex;
  flex-direction: row;
}

/* Class for moving elements to the right of the header */
.siw-head .siw-head-right {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

/* Spot name */
.siw-head h3 {
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
}

/* Golden star icon displayed on favorite spots */
.siw-favorite-icon {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #e8b100;
}

/* Close window button */
.siw-close-button {
  height: var(--siw-head-height);
  width: var(--siw-head-height);
  padding: 0;

  color: #b7b8b7;
}

/* Body styling ------------------------------- */

.siw-body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

/* Country name */
.siw-country-container p {
  margin: 0;
  text-align: left;
  filter: opacity(var(--siw-country-name-opacity));
}

/* Spot details */
.siw-info-list {
  text-align: left;
}

/* list */
.siw-info-list ul {
  margin: 0;
  margin-top: var(--siw-list-ul-padding);
  margin-bottom: var(--siw-list-ul-padding);
  padding: 0;
  list-style-type: none;
}

/* list element */
.siw-info-list li {
  margin-top: var(--siw-list-li-padding);
  margin-bottom: var(--siw-list-li-padding);
}

/* list element title */
.siw-info-list h5 {
  filter: opacity(var(--siw-list-li-header-opacity));
}

/* list element content */
.siw-info-list h5, p {
  margin: 0;
  padding: 0;
}

/* Footer styling ----------------------------- */

/* Favorites button */
.siw-favorites-button {
  height: 2em;
  width: 100%;
  padding: 0;
  padding-left: var(--siw-add-to-favorites-button-padding);
  padding-right: var(--siw-add-to-favorites-button-padding);

  display: flex;
  flex-direction: row;
  justify-content: center;

  box-shadow: none;

  filter: brightness(100%);
  transition: filter linear var(--fast-transition-duration);
}

.siw-favorites-button p {
  padding: 0;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;

  font-size:x-small;
}

/* Favorites button on hover */
.siw-favorites-button:hover {
  filter: brightness(95%);
}

/* Styling for the Favorites button when it's displaying "Add to favorites" */
button.siw-add-to-favorites-button {
  background-color: #e8b100;
}

/* Styling for the Favorites button when it's displaying "Remove from favorites" */
button.siw-remove-from-favorites-button {
  background-color: #ff3b30;
}

/* Favorites button icon */
.siw-atf-btn-plus-icon {
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: var(--siw-atf-btn-plus-icon-padding);
  padding-right: var(--siw-atf-btn-plus-icon-padding);
}