:root {
  --title-margin: 0;
  --title-padding: 0;
}

@font-face {
  font-family: Calligraffiti;
  src: url(../fonts/Calligraffiti.ttf);
}

.title {
  position: relative;
}

.title p {
  margin: var(--title-margin);
  padding: var(--title-padding);

  text-align: center;
  font-family: Calligraffiti;
}