:root {
  --fast-transition-duration: 0.3s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
  Common styling for buttons on this site
*/
button {
  margin: 0;
  padding: 1em;

  background-color: #4a90e2;
  transition: background-color var(--fast-transition-duration) linear;
  color: white;
  text-align: center;

  border: none;
  box-shadow: 0px 1px 3px grey;

  cursor: pointer;
}

button:hover {
  background-color: #2377da;
}

/* 
  A class for transparent buttons: inherit background-color from the outer container 
  and have transition on color property (filter actually) instead of background-color
*/
button.transparent-button {
  background-color: transparent;
  filter: brightness(100%);
  transition: filter linear var(--fast-transition-duration);

  box-shadow: none;
}

button.transparent-button:hover {
  filter: brightness(75%);
}